amqp==2.3.1
awesome-slugify==1.6.5
awscli==1.15.29
beautifulsoup4==4.6.0
billiard==3.5.0.3
botocore==1.10.29
bs4==0.0.1
celery==4.1.1
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
corenlp-protobuf==3.8.0
corenlp-xml-reader==0.1.3
DateTime==4.2
docutils==0.14
dropbox==8.7.1
enum34==1.1.6
futures==3.2.0
httplib2==0.11.3
idna==2.6
isodate==0.6.0
jmespath==0.9.3
kombu==4.2.0
lxml==4.1.1
marcxml-parser==1.2.3
nltk==3.3
numpy==1.14.1
pandas==0.23.0
protobuf==3.5.2.post1
psutil==5.4.5
pyasn1==0.4.3
pycorenlp==0.3.0
pyDHTMLParser==2.2.2
pymongo==3.6.1
pynlp==0.4.0
PyNLPl==1.2.6
pyparsing==2.2.0
python-dateutil==2.7.3
python-docx==0.8.6
python-Levenshtein==0.12.0
pytz==2018.4
PyYAML==3.12
rdflib==4.2.2
regex==2018.2.21
remove-hairs==1.0.1
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.13
simplejson==3.15.0
six==1.11.0
stanford-corenlp==3.8.0
stanfordcorenlp==3.9.1.1
unicode==2.6
Unidecode==0.4.21
urllib3==1.22
vine==1.1.4
virtualenv==15.2.0
xmltodict==0.11.0
zope.interface==4.5.0
